/**
 * Custom theme for JoliCode.com
 *
 *      _____       __    _    ______                __
 *     |_   _|     [  |  (_) .' ___  |              |  ]
 *       | |  .--.  | |  __ / .'   \_|  .--.    .--.| | .---.
 *   _   | |/ .'`\ \| | [  || |       / .'`\ \/ /'`\' |/ /__\
 *  | |__' || \__. || |  | |\ `.___.'\| \__. || \__/  || \__.,
 *  `.____.' '.__.'[___][___]`.____ .' '.__.'  '.__.;__]'.__.'
 *
 *
 * @author dalexandre@jolicode.com
 */
@font-face {
  font-family: 'convergenceregular';
  src: url("../../lib/font/convergence-regular-webfont.eot");
  src: url("../../lib/font/convergence-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../lib/font/convergence-regular-webfont.woff") format("woff"), url("../../lib/font/convergence-regular-webfont.ttf") format("truetype"), url("../../lib/font/convergence-regular-webfont.svg#convergenceregular") format("svg");
  font-weight: normal;
  font-style: normal; }

footer.joli {
  display: block;
  position: absolute;
  bottom: 10px;
  margin-left: 20px;
  z-index: 20;
  font-family: "Lato", sans-serif;
  color: #8d8d8d; }

.jolistate .reveal .state-background {
  background: rgba(0, 0, 0, 0.6); }


.lazystate .reveal .state-background,
.frontendstate .reveal .state-background,
.funstate .reveal .state-background,
.pillstate .reveal .state-background,
.profilestate .reveal .state-background
{
background-repeat: no-repeat;
background-size: cover;
background-position: center;
opacity: 0.5;
}

.lazystate .reveal .state-background {
background-image: url('../../images/lazy.jpg');
}
.profilestate .reveal .state-background {
background-image: url('../../images/profile.jpg');
}
.frontendstate .reveal .state-background {
background-image: url('../../images/ie6.jpg');
}
.funstate .reveal .state-background {
background-image: url('../../images/lol.gif');
}
.pillstate .reveal .state-background {
background-image: url('../../images/pills.jpg');
}



.lazystate .reveal .present h1,
.lazystate .reveal .present h2,
.lazystate .reveal .present p,
.lazystate .reveal .present li,
.frontendstate .reveal .present h1,
.frontendstate .reveal .present h2,
.frontendstate .reveal .present p,
.frontendstate .reveal .present li,
.funstate .reveal .present h1,
.funstate .reveal .present h2,
.funstate .reveal .present p,
.funstate .reveal .present li,
.pillstate .reveal .present h1,
.pillstate .reveal .present h2,
.pillstate .reveal .present p,
.pillstate .reveal .present li,
.profilestate .reveal .present h1,
.profilestate .reveal .present h2,
.profilestate .reveal .present p,
.profilestate .reveal .present li
{
    text-shadow: -5px 5px 25px #000,
                 5px -5px 25px #000,
                 5px 5px 25px #000,
                 -5px -5px 25px #000
    ;
}

.reveal section a img {
  background: none;
  border: none;
  box-shadow: none; }

.reveal section a:hover img {
  background: none;
  box-shadow: none; }

.reveal section .footnote {
  margin-top: 100px;
  font-size: 0.6em;
  color: #bcbcbc;
  text-align: right; }

.reveal section .no-caps {
  text-transform: none; }
.reveal section p {
  line-height: 1.5em; }
.reveal section li {
  padding: 10px 0; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #050607;
  background: -moz-radial-gradient(center, circle cover, #272a2d 0%, #050607 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #272a2d), color-stop(100%, #050607));
  background: -webkit-radial-gradient(center, circle cover, #272a2d 0%, #050607 100%);
  background: -o-radial-gradient(center, circle cover, #272a2d 0%, #050607 100%);
  background: -ms-radial-gradient(center, circle cover, #272a2d 0%, #050607 100%);
  background: radial-gradient(center, circle cover, #272a2d 0%, #050607 100%);
  background-color: #2b2b2b; }

.reveal {
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: #eeeeee; }

::selection {
  color: white;
  background: #ecc217;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #f7d325;
  font-family: "convergenceregular", Impact, sans-serif;
  line-height: 1.1em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #ecc217;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  -ms-transition: color 0.15s ease;
  -o-transition: color 0.15s ease;
  transition: color 0.15s ease; }

.reveal a:not(.image):hover {
  color: #f7d325;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #a98a0e; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #eeeeee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #ecc217;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #ecc217; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #ecc217; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #ecc217; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #ecc217; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #f7d325; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #f7d325; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #f7d325; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #f7d325; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #ecc217;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
